#homeContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.titleDiv {
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.informationDiv {
    height: 100%;
    display: flex;
    border-radius: 8px;
}

    .informationDiv > .textContainer {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

.textContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textContent {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f2f2f2;
    padding: 3% 5%;
    border-radius: 8px;
    overflow: auto;
    min-height: 0;
}

.imageContainer {
    width: 50%;
    height: 100%;
}

.hammerImage {
    background: url("/assets/images/sah-tool.png") no-repeat center center;
    width: 100%;
    height: 100%;
}

.singleImage {
    background: url("/assets/images/man-working.png") no-repeat center center;
    width: 100%;
    height: 100%;
}

.teamImage {
    background: url("/assets/images/sah-group.png") no-repeat center center;
    width: 100%;
    height: 100%;
}

.radiusLeft {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.radiusRight {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}


.features {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.textContent > span, .textContent > p, .features {
    font-size: 17px;
}

.textContent > h2 {
    font-size: 30px;
}

.disclaimer {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width: 850px) {
    .informationDiv {
        flex-direction: column;
    }

    .imageContainer {
        display: none;
    }

    .textContainer {
        width: 100%;
    }

    .textContent {
        height: 95%;
    }
}
